:root {
  --mainEng-font: 'Montserrat';
  --mainKor-font: 'nanumSquareNeo';
  --mainNum-font: 'gmarket';

  --mainBg-color: #efecf5; //#f3ede8 #c3b8d9;
  --mainBg-dark: #16102f; //#f3ede8 #c3b8d9;
  --subBg100: #fbfbfb; //#cdc0b1
  --subBg200: #efecf5; //#afa395
  
  --txt100: #394d73;
  --txt200: #282052;
  --txt300: #16102f;
  --txt400: #130723;

  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;

  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (max-width: 800px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

body {
  background-color: var(--mainBg-color);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
