.portfolio {
  position: relative;
  width: 100vw;
  overflow: hidden;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 0;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    z-index: 10;
  }

  &__wrap {
    display: flex;
    position: relative;
    width: 300vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
  }
  &__box {
    flex: 0 0 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    position: relative;
    padding: 60px;
    font-size: 1.2rem;
    box-sizing: border-box;
  }
  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    aspect-ratio: 1/1;
    img {
      display: block;
      width: 100%;
      height: 100%;
      background: #eeebf2;
      object-fit: contain;
      aspect-ratio: 1/1;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 36px 80px;
    background: rgba(0, 0, 0, 0.6);
    color: var(--black400);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;

    h2 {
      margin-bottom: 12px;
      font-size: 20px;
      font-weight: 700;
      color: var(--black400);
    }
    p {
      line-height: 1.5;
      margin-bottom: 8px;
      font-size: 16px;
    }
    &_box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 4px;

      button {
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        border-radius: 8px;
        background: var(--subBg100);
        font-size: 15px;
        font-weight: 700;
        color: var(--txt200);
        text-align: center;
        transition: all 0.2s ease;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  &__box:hover .portfolio__content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  &__desc {
    margin-bottom: 20px;
    text-align: center;
  }
  &__badge {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 8px;
    margin-right: 4px;
    border-radius: 12px;
    &-last-child {
      margin-right: 0;
    }
    &-vue,
    &-nuxt {
      background: #3fb27f;
      color: #fff;
    }
    &-scss {
      background: #cd679a;
      color: #fff;
    }
    &-javascript {
      background: #f5de19;
      color: #111;
    }
    &-css {
      background: #1371b5;
      color: #fff;
    }
    &-html {
      background: #ed6028;
      color: #fff;
    }
  }
}

@media (max-width: 600px) {
  .portfolio__wrap {
    flex-direction: column;
    width: 100vw;
    height: inherit;
  }
  .portfolio__title {
    margin-bottom: 24px;
  }
  .portfolio__box {
    flex-direction: column;
    width: 100%;
    height: inherit;
    padding: 0;
    margin-bottom: 60px;
    background: #eeebf2;
  }

  .portfolio__content {
    position: static;
    padding: 0 12px 36px;
    background: transparent;
    color: var(--txt200);
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

    h2 {
      font-size: 18px;
      color: var(--txt100);
    }
    p {
      font-size: 15px;
    }
  }
  .portfolio__badge {
    font-size: 14px;
  }
}
