
.container {
  display: flex;
  width: 500vw; 
  overflow: hidden;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid #ccc;
  background-color: #eee;
  font-size: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  color: white;
  font-size: 2rem;
  opacity: 0;
}