.skills__wrap {
  min-width: 360px;
  width: 100%;
  padding: 20px 80px;
}

.skills__title {
  margin-bottom: 32px;
  font-size: 1.6em;
  font-weight: 700;
  color: var(--txt200);
  text-align: center;
}

.skills__list {
  padding: 20px 24px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 0 8px 8px rgba(57, 77, 115, 0.08);

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    margin: 16px 0;
    padding: 10px;
    border-radius: 16px;
    background: #f8f8f8;
    color: var(--txt400);
  }
}
.skills__name {
  flex: 0 0 160px;
  width: 160px;
  font-size: 1em;
  font-weight: 500;
  color: var(--txt300);
}

.progress {
  flex: 1 1 auto;
  height: 10px;
  margin-left: 10px;
  background: #dadada;
  border-radius: 5px;
  overflow: hidden;
  &__bar {
    height: 100%;
    background: var(--txt100);
  }
  &__num {
    flex: 0 0 80px;
    width: 80px;
    font-size: 0.8em;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .skills__wrap {
    padding: 32px;
  }
  .skills__list {
    padding: 16px 12px;
    li {
      padding: 16px;
    }
  }
  .skills__name,
  .progress__num {
    font-size: 16px;
  }
  .skills__name {
    display: block;
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 8px;
  }
  .progress {
    margin-left: 0;
    &__num {
      flex: 0 0 48px;
      width: 48px;
      text-align: right;
    }
  }
}
