.section-home,
.section-skills,
.section-career,
.section-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
  transition: background-color 0.5s;
}
.section-home {
  background-color: var(--subBg100);
}
.section-skills {
  background-color: var(--subBg200);
  color: var(--black300);
}
.section-portfolio {
  background-color: var(--subBg100);
}
.section-career {
  background-color: var(--subBg200);
  color: var(--black200);
}
.section-profile {
  min-height: 100vh;
  height: auto;
  background-color: var(--subBg100);
  color: var(--black300);
}
